<form [formGroup]="companyForm">
    <div>
        <mat-form-field class="example-full-width">
            <mat-label>اسم الشركة \ المؤسسة / Company Name</mat-label>
            <input type="text" matInput formControlName="name">
            <mat-error *ngIf="name.hasError('required')">
                Company Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </div>
</form>
<div class="dialog-button" mat-dialog-actions>
    <button mat-raised-button mat-dialog-close> أغلق </button>
    <button mat-raised-button mat-dialog-close (click)="onSubmit()" [disabled]="companyForm.invalid"> إرسال </button>
</div>