<form #newProjectForm="ngForm" autocomplete="off" (ngSubmit)="onSubmit(newProjectForm)">
    <div class="card">
      <div class="card-header ">
        {{action}} Deed - Ownership<i class="icon-people"></i>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="form-group col-sm-6">
            <label for="Office Reference">Office Reference<span style="color:red">*</span></label>
            <input type="text" class="form-control" required [(ngModel)]="deedModel.dooOfficeReference" name="dooOfficeReference"
              [ngClass]="{'red-border-class': !dooOfficeReference1.valid && dooOfficeReference1.touched}" #dooOfficeReference1="ngModel">
            <div *ngIf="!dooOfficeReference1.valid && dooOfficeReference1.touched" style="color:red">
              officereference is required
            </div>
          </div>
          <div class="form-group col-sm-6">
            <label for="Court Name">Court Name <span style="color:red">*</span></label>
            <input type="text" class="form-control" required [(ngModel)]="deedModel.dooCourtId" name="dooCourtId"
              [ngClass]="{'red-border-class': !dooCourtId1.valid && dooCourtId1.touched}" #dooCourtId1="ngModel">
            <div *ngIf="!dooCourtId1.valid && dooCourtId1.touched" style="color:red">
              courtname is required
            </div>
          </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
              <label for="Name of Case Observer">Name of Case Observer<span style="color:red">*</span></label>
    
              <input type="text" class="form-control" required [(ngModel)]="deedModel.dooCaseObserverName" name="dooCaseObserverName"
                [ngClass]="{'red-border-class': !dooCaseObserverName1.valid && dooCaseObserverName1.touched}" #dooCaseObserverName1="ngModel">
              <div *ngIf="!dooCaseObserverName1.valid && dooCaseObserverName1.touched" style="color:red">
                case observer is required
              </div>
            </div>
            <div class="form-group col-sm-6">
              <label for="Case number in court">Case number in court <span style="color:red">*</span></label>
    
              <input type="text" class="form-control" required [(ngModel)]="deedModel.dooCaseNumber" name="dooCaseNumber"
                [ngClass]="{'red-border-class': !dooCaseNumber1.valid && dooCaseNumber1.touched}" #dooCaseNumber1="ngModel">
              <div *ngIf="!dooCaseNumber1.valid && dooCaseNumber1.touched" style="color:red">
                casenumber is required
              </div>
            </div>
          </div>
        <div class="row">
          
          <div class="form-group col-sm-6">
            <label for="Date"> Date <span style="color:red">*</span></label>
            <input type="text" class="form-control" required [(ngModel)]="deedModel.dooReferentDate" name="dooReferentDate"
            [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"
            bsDatepicker #dp="bsDatepicker"
              [ngClass]="{'red-border-class': !dooReferentDate1.valid && dooReferentDate1.touched}" #dooReferentDate1="ngModel">
            <div *ngIf="!dooReferentDate1.valid && dooReferentDate1.touched" style="color:red">
               date is required
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-center">
        <button type="submit" class="btn btn-success btn-lg"
         >Submit</button> 
         <button type="reset" class="btn btn-danger btn-lg"
         >Reset</button> 
      </div>
    </div>
  </form>