<form #newCaseForm="ngForm" autocomplete="off" (ngSubmit)="newCaseForm.form.valid && onSubmit(newCaseForm)">
  <div class="card">
    <div class="card-header ">

      {{action}} Case<i class="icon-people"></i>

    </div>

    <div class="card-body">
      <div class="row">
        <div class="form-group col-sm-6">
          <label for="Case">Case number in court <span style="color:red">*</span></label>

          <input type="text" class="form-control" required [(ngModel)]="casemodel.caseNumber" name="caseNumber"
            [ngClass]="{'red-border-class': !caseNumber1.valid && caseNumber1.touched}" #caseNumber1="ngModel">
          <div *ngIf="!caseNumber1.valid && caseNumber1.touched" style="color:red">
            case no is required
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="Court Name">Court Name <span style="color:red">*</span></label>
          <select #mySelect class="form-control" (change)="changed(mySelect.value)" required
            [(ngModel)]="casemodel.caseCourtId" name="caseCourtId"
            [ngClass]="{'red-border-class': !caseCourtId1.valid && caseCourtId1.touched}" #caseCourtId1="ngModel">
            <option value="" selected>Choose...</option>
            <option *ngFor="let court of courts" [value]="court.id">{{court.name}} </option>

          </select>
          <div *ngIf="!caseCourtId1.valid && caseCourtId1.touched" style="color:red">
            Court Name is required
          </div>
        </div>
      </div>
      <div class="row">

        <div class="form-group col-sm-6">
          <label for="Judge Name">Judge Name<span style="color:red">*</span></label>
          <select #mySelect class="form-control" (change)="changed(mySelect.value)" required
            [(ngModel)]="casemodel.caseJudgeId" name="caseJudgeId"
            [ngClass]="{'red-border-class': !caseJudgeId1.valid && caseJudgeId1.touched}" #caseJudgeId1="ngModel">
            <option selected>Choose...</option>
            <option *ngFor="let contact of contactList" [value]="contact.id">{{contact.name}} </option>

          </select>
          <div *ngIf="!caseJudgeId1.valid && caseJudgeId1.touched" style="color:red">
            Judge Name is required
          </div>
        </div>

        <div class="form-group col-sm-6">
          <label for="Office">Office <span style="color:red">*</span></label>

          <input type="text" class="form-control" required [(ngModel)]="casemodel.caseOffice" name="caseOffice"
            [ngClass]="{'red-border-class': !caseOffice1.valid && caseOffice1.touched}" #caseOffice1="ngModel">
          <div *ngIf="!caseOffice1.valid && caseOffice1.touched" style="color:red">
            office is required
          </div>
        </div>
      </div>

      <div class="row">

        <div class="form-group col-sm-6">
          <label for="Consultant">Consultant <span style="color:red">*</span></label>
          
          <select  class="form-control" required
          [(ngModel)]="casemodel.caseConsultantId" name="caseConsultantId"
          [ngClass]="{'red-border-class': !caseConsultantId1.valid && caseConsultantId1.touched}" #caseConsultantId1="ngModel">
          <option value="" selected>Choose...</option>
          <option *ngFor="let user of users" [value]="user.id">{{user.email}} </option>
        </select>
        
          <div *ngIf="!caseConsultantId1.valid && caseConsultantId1.touched" style="color:red">
            consultant is required
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="Consultant Engagement Date">Consultant Engagement Date <span style="color:red">*</span></label>
          <input type="text" class="form-control" required [(ngModel)]="casemodel.caseConsultantEngagementDate" name="caseConsultantEngagementDate"
            [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" bsDatepicker #dp="bsDatepicker"
            [ngClass]="{'red-border-class': !consultEngagementDt1.valid && consultEngagementDt1.touched}"
            #consultEngagementDt1="ngModel">
          <div *ngIf="!consultEngagementDt1.valid && consultEngagementDt1.touched" style="color:red">
            consultant engagement date is required
          </div>
        </div>

      </div>
      <div class="row">

        <div class="form-group col-sm-6">
          <label for="Client">Client <span style="color:red">*</span></label>
          <select #mySelect class="form-control" (change)="changed(mySelect.value)" required
            [(ngModel)]="casemodel.caseClientId" name="caseClientId"
            [ngClass]="{'red-border-class': !caseClientId1.valid && caseClientId1.touched}" #caseClientId1="ngModel">
            <option value="" selected>Choose...</option>
            <option *ngFor="let client of clientList" [value]="client.id">{{client.name}} </option>
          </select>
          <div *ngIf="!caseClientId1.valid && caseClientId1.touched" style="color:red">
            client is required
          </div>
        </div>

        <div class="form-group col-sm-6">
          <label for="Office">Client Position in Court <span style="color:red">*</span></label>
          <br>

         <!--  Prosecutor / مدعي <input type="checkbox" name="test" [checked]="currentlyChecked === check_box_type.P"
            (click)="selectCheckBox(check_box_type.P)">

          <br>

          Respondent / مدعي <input type="checkbox" name="test" [(ngModel)]="casemodel.clientPositionCourt"
            [checked]="currentlyChecked === check_box_type.R" (click)="selectCheckBox(check_box_type.R)">
             -->
             Respondent  / مدعي<input type="checkbox"  
        
          name="clientRespondent"
          [(ngModel)]="clientRespondent"
          value="R"
          [checked]="currentlyChecked === check_box_type.R" (click)="selectCheckBox(check_box_type.R)">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;       
            Prosecutor / مدعي <input type="checkbox"
           
            name="clientProsecutor"
            [(ngModel)]="clientProsecutor"
            value="P"
            [checked]="currentlyChecked === check_box_type.P"
            (click)="selectCheckBox(check_box_type.P)">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <label for="Opposing">Opposing <span style="color:red">*</span></label>

          <select #mySelect class="form-control" (change)="changed(mySelect.value)" required
            [(ngModel)]="casemodel.caseOpposingId" name="caseOpposingId"
            [ngClass]="{'red-border-class': !caseOpposingId1.valid && caseOpposingId1.touched}" #caseOpposingId1="ngModel">
            <option value="" selected>Choose...</option>
            <option *ngFor="let opp of oppsingList" [value]="opp.id">{{opp.name}} </option>
           
          </select>
          <div *ngIf="!caseOpposingId1.valid && caseOpposingId1.touched" style="color:red">
            Opposing is required
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="Opposing Position in Court">Opposing Position in Court <span style="color:red">*</span></label>
          <br>
          Respondent / مدعي<input type="checkbox"  name="oppRespondent"
          [(ngModel)]="oppRespondent"
          value="oppcheckboxtype.R"
            [checked]="oppcurrentlyChecked === oppcheckboxtype.R" (click)="selectOpositionCheckBox(oppcheckboxtype.R)"
             >
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;       
            Prosecutor / مدعي <input type="checkbox"
            [(ngModel)]="oppProsecutor"
            name="oppProsecutor"
            [checked]="oppcurrentlyChecked === oppcheckboxtype.P"
            (click)="selectOpositionCheckBox(oppcheckboxtype.P)"
            >
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <label> Opposing Representer</label>
          <select #mySelect class="form-control" (change)="changed(mySelect.value)" required
            [(ngModel)]="casemodel.caseOpposingRepresenterId" name="caseOpposingRepresenterId"
            [ngClass]="{'red-border-class': !caseOpposingRepresenterId1.valid && caseOpposingRepresenterId1.touched}" #caseOpposingRepresenterId1="ngModel">
            <option value="" selected>Choose...</option>
            <option *ngFor="let opp of oppsingRepList" [value]="opp.id">{{opp.name}} </option> 
          </select>
          <div *ngIf="!caseOpposingRepresenterId1.valid && caseOpposingRepresenterId1.touched" style="color:red">
            opposing representer is required
          </div>

        </div>
        <div class="form-group col-sm-6">
          <label> Consultant Engagement Text</label>
          <textarea type="text" rows="2" class="form-control_textarea" required [(ngModel)]="casemodel.caseConsultantEngagementText"
            name="caseConsultantEngagementText"></textarea>
        </div>

      </div>


    </div>
    <div class="card-footer text-center">
      <button type="submit" [disabled]="!newCaseForm.form.valid"  class="btn btn-success btn-lg">Submit</button>
      <button type="reset" class="btn btn-danger btn-lg">reset</button>
    </div>
  </div>
</form>