<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>

<div class="card">
    <div class="card-header">
        المعلومات الرئيسية / Add User <i class="icon-people"></i>
    </div>
    <form [formGroup]="userForm" (ngSubmit)="registerUser()">

        <div class="card-body">

            <div class="row">

                <div class="form-group col-sm-4">
                    <label>Email </label>
                    <input type="text" class="form-control" formControlName="email"
                        oninput="this.value=this.value.toLowerCase()" 
                        [ngClass]="{ 'is-invalid red-border-class': isSubmitted &&  f.email.errors }">
                    <div *ngIf="f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required"><b>البريد الالكتروني مطلوب</b></div>
                        <div *ngIf="f.email.errors.email"><b>الرجاء إدخال بريد إلكتروني صحيح</b></div>
                    </div>

                </div>
               <div class="form-group col-sm-4">
                    <label>Role</label>
                    <select #mySelect class="form-control" formControlName="roleId" (change)="changed(mySelect.value)"
                    [ngClass]="{ 'is-invalid red-border-class': isSubmitted &&  f.roleId.errors }">
                        <option selected>Choose...</option>
                        <option *ngFor="let role of roles" [value]="role.id"> {{role.name}}</option>
                    </select>
                    <div *ngIf="f.roleId.errors" class="invalid-feedback">
                        <div *ngIf="f.roleId.errors.required"><b>Role Id is required</b></div>
                    </div>
                </div>
      
                <div class="form-group col-sm-4">
                    <label>Departments</label>
                    <select #mySelect class="form-control" formControlName="departmentId" (change)="changed(mySelect.value)"
                    [ngClass]="{ 'is-invalid red-border-class': isSubmitted &&  f.departmentId.errors }">
                        <option selected>Choose...</option>
                        <option *ngFor="let d of dept" [value]="d.id"> {{d.name}}</option>
                    </select>
                    <div *ngIf="f.departmentId.errors" class="invalid-feedback">
                        <div *ngIf="f.departmentId.errors.required"><b>Department Id is required</b></div>
                    </div>
                </div>
            </div>
             <div class="row">
                <div class="form-group col-sm-4">
                    <label>Job </label>
                    <select #mySelect class="form-control"  formControlName="jobTitleId" (change)="changed(mySelect.value)"
                    [ngClass]="{ 'is-invalid red-border-class': isSubmitted &&  f.jobTitleId.errors }">
                        <option selected>Choose...</option>
                        <option *ngFor="let j of jobs" [value]="j.id"> {{j.name}}</option>
                    </select>   
                    <div *ngIf="f.jobTitleId.errors" class="invalid-feedback">
                        <div *ngIf="f.jobTitleId.errors.required"><b>Job Id is required</b></div>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label>Phone Number </label>
                    <input type="text" 
                    class="form-control" 
                    formControlName="phoneNumber" 
                    maxlength="12"
                    [ngClass]="{ 'is-invalid red-border-class':  isSubmitted &&  f.phoneNumber.errors }">
                <div *ngIf="f.phoneNumber.errors" class="invalid-feedback">
                  <div *ngIf="f.phoneNumber.errors.required"><b>رقم الهاتف مطلوب</b></div>
                   <div *ngIf="f.phoneNumber.errors.minlength"><b>يجب أن يتكون رقم الهاتف من ١٢ رقمًا</b></div> 
                   <div *ngIf="f.phoneNumber.errors.pattern">الرقم العربي مطلوب </div>
              </div>

                </div>
                <div class="form-group col-sm-4">
                    <label>Joinning Date </label>
                    <input type="text"  formControlName="joiningDate"   class="form-control" [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"
                     bsDatepicker #dp="bsDatepicker"
                    [ngClass]="{ 'is-invalid red-border-class':  isSubmitted &&  f.joiningDate.errors }">
                    <div *ngIf="f.joiningDate.errors" class="invalid-feedback">
                        <div *ngIf="f.joiningDate.errors.required"><b>Date cant not be empty</b></div>
                    </div>
                </div>

            </div> 
<!--             <p>{{userForm.value | json}}</p>
 -->        </div>
    <div class="card-footer">
        <div class="row">
            <div class="col text-center">
                <button type="submit" class="btn btn-md btn-success">إنشاء شركة</button>
            </div>
        </div>
    </div>
</form>

</div>
<div class="card" *ngIf="users?.length > 0">
    <div class="card-header">
        User Details<i class="icon-people"></i>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                  <th width="5"> SR</th>
                <th>Email</th>
                <th>Name</th>
                <th>Joining Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let u of users; let i = index">
                  <td> {{ i + 1}}</td>
                <td>{{u.email}}</td>
                <th>{{u.name}}</th>
                <th>{{u.joiningDate | date: 'shortDate'}}</th>
              </tr>
            </tbody>
          </table>

          <div class="row">
            <div class="col-xs-12 col-12">
            
           </div> 
    </div>
</div>