<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>

<div class="card">
    <div class="card-header">
        <i class="fa fa-user-plus"></i> المستخدمين <hr>
    </div>
    <form [formGroup]="userForm">

        <div class="card-body main-border-left main-border-right">
            <div id="icons" class="form-group row mr-3">
                <button type="button" class="btn btn-md" [disabled]="addDisabled" (click)="openAddDialog()"><div class="plus_bold"> + </div></button> 
                &nbsp;&nbsp;
                <button type="button" class="btn btn-md" [disabled]="editDisabled" (click)="openEditDialog()"><div class="plus_bold" > <i class="icon-pencil"></i> </div></button> 
        
                &nbsp;&nbsp;
                <button type="button" class="btn btn-md" [disabled]="deleteDisabled" (click)="deleteUser()"><div class="plus_bold" > <i class="icon-trash"></i> </div></button> 
               
            </div>

        <!-- <div class="card-body">

            <div class="row">

                <div class="form-group col-sm-4">
                    <label>البريد الإلكتروني / Email </label>
                    <input type="text" class="form-control" formControlName="email"
                        oninput="this.value=this.value.toLowerCase()" 
                        [ngClass]="{ 'is-invalid red-border-class': isSubmitted &&  f.email.errors }">
                    <div *ngIf="f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required"><b>البريد الالكتروني مطلوب</b></div>
                        <div *ngIf="f.email.errors.email"><b>الرجاء إدخال بريد إلكتروني صحيح</b></div>
                    </div>

                </div>
               <div class="form-group col-sm-4">
                    <label>الأدوار / Role</label>
                    <select #mySelect class="form-control" formControlName="roleId"
                    [ngClass]="{ 'is-invalid red-border-class': isSubmitted &&  f.roleId.errors }">
                        <option selected>Choose...</option>
                        <option *ngFor="let role of roles" [value]="role.id"> {{role.name}}</option>
                    </select>
                    <div *ngIf="f.roleId.errors" class="invalid-feedback">
                        <div *ngIf="f.roleId.errors.required"><b>Role Id is required</b></div>
                    </div>
                </div>
      
                <div class="form-group col-sm-4">
                    <label>الإدراة / Departments</label>
                    <select #mySelect class="form-control" formControlName="departmentId" 
                    [ngClass]="{ 'is-invalid red-border-class': isSubmitted &&  f.departmentId.errors }">
                        <option selected>Choose...</option>
                        <option *ngFor="let d of dept" [value]="d.id"> {{d.name}}</option>
                    </select>
                    <div *ngIf="f.departmentId.errors" class="invalid-feedback">
                        <div *ngIf="f.departmentId.errors.required"><b>Department Id is required</b></div>
                    </div>
                </div>
            </div>
             <div class="row">
                <div class="form-group col-sm-4">
                    <label>مهنة / Job </label>
                    <select #mySelect class="form-control"  formControlName="jobTitleId"
                    [ngClass]="{ 'is-invalid red-border-class': isSubmitted &&  f.jobTitleId.errors }">
                        <option selected>Choose...</option>
                        <option *ngFor="let j of jobs" [value]="j.id"> {{j.name}}</option>
                    </select>   
                    <div *ngIf="f.jobTitleId.errors" class="invalid-feedback">
                        <div *ngIf="f.jobTitleId.errors.required"><b>Job Id is required</b></div>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label>رقم الهاتف / Phone Number</label>
                    <input type="text" 
                    class="form-control" 
                    formControlName="phoneNumber" 
                    maxlength="12"
                    [ngClass]="{ 'is-invalid red-border-class':  isSubmitted &&  f.phoneNumber.errors }">
                <div *ngIf="f.phoneNumber.errors" class="invalid-feedback">
                  <div *ngIf="f.phoneNumber.errors.required"><b>رقم الهاتف مطلوب</b></div>
                   <div *ngIf="f.phoneNumber.errors.minlength"><b>يجب أن يتكون رقم الهاتف من ١٢ رقمًا</b></div> 
                   <div *ngIf="f.phoneNumber.errors.pattern">الرقم العربي مطلوب </div>
              </div>

                </div>
                <div class="form-group col-sm-4">
                    <label>تاريخ مباشرة بالعمل / Joining Date </label>
                    <input type="text"  formControlName="joiningDate"   class="form-control" [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"
                     bsDatepicker #dp="bsDatepicker"
                    [ngClass]="{ 'is-invalid red-border-class':  isSubmitted &&  f.joiningDate.errors }">
                    <div *ngIf="f.joiningDate.errors" class="invalid-feedback">
                        <div *ngIf="f.joiningDate.errors.required"><b>Date cant not be empty</b></div>
                    </div>
                </div>

            </div> 
            <p>{{userForm.value | json}}</p> -->
        </div>
    <!-- <div class="card-footer">
        <div class="row">
            <div class="col text-center">
                <button type="submit" class="btn btn-md btn-success">إنشاء شركة</button>
            </div>
        </div>
    </div> -->
</form>


<div  *ngIf="users?.length > 0">

    <div class="main-border-left main-border-right main-border-bottom">

        <table mat-table [dataSource]="users" class="mat-elevation-z8">
            <ng-container matColumnDef="position">
              <th class="text-center" mat-header-cell *matHeaderCellDef> رقم سري </th>
              <td mat-cell *matCellDef="let user"> {{ user.srNo }} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th class="text-center" mat-header-cell *matHeaderCellDef> قسم </th>
                <td mat-cell *matCellDef="let user"> {{ user.name }} </td>
            </ng-container>
            <ng-container matColumnDef="joining_date">
                <th class="text-center" mat-header-cell *matHeaderCellDef> تاريخ مباشرة بالعمل </th>
                <td mat-cell *matCellDef="let user"> {{ user.joiningDate }} </td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th class="text-center" mat-header-cell *matHeaderCellDef> البريد الإلكتروني </th>
                <td mat-cell *matCellDef="let user"> {{ user.email }} </td>
            </ng-container>
            <ng-container matColumnDef="id">
                <th class="text-center" mat-header-cell *matHeaderCellDef> هوية شخصية </th>
                <td mat-cell *matCellDef="let user"> {{ user.id }} </td>
            </ng-container>
            <ng-container matColumnDef="delete">
                <th class="text-center" mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let user">
                    <mat-checkbox (change)="onCheckboxChange($event, user)"></mat-checkbox>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let user; columns: displayedColumns;"></tr>
        </table>
    </div>
    <!-- <div class="card-header">
        <i class="fa fa-user"></i>  بيانات المستخدم / User Details 
    </div> -->
    <!-- <div >
        <table class="table table-striped table-sm">
            <thead>
              <tr>
                  <th width="5"> SR</th>
                <th>Email</th>
                <th>Name</th>
                <th>Joining Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let u of users; let i = index">
                  <td> {{ i + 1}}</td>
                <td>{{u.email}}</td>
                <th>{{u.name}}</th>
                <th>{{u.joiningDate | date: 'shortDate'}}</th>
              </tr>
            </tbody>
          </table>

          <div class="row">
            <div class="col-xs-12 col-12">
            
           </div> 
    </div> -->
</div>
</div>