<app-user-form-button [userList]="usr" (onLoadEvent)="findAllUsers()"></app-user-form-button>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>

<div class="card" *ngIf="users?.length > 0">
    <div class="card-header">
        <i class="fa fa-user"></i>  بيانات المستخدم / User Details 
    </div>
    <div class="card-body">
        <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                  <th width="5"> SR</th>

                <th>Email</th>
                <th>Name</th>
                <th>Joining Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let u of users; let i = index">
                
                  <td witdh="2%">
                    <input type="checkbox"  [value]="u.id" (change)="onCheckboxChange($event)" />
                    </td>
                <td>{{u.email}}</td>
                <th>{{u.name}}</th>
                <th>{{u.joiningDate | date: 'shortDate'}}</th>
              </tr>
            </tbody>
          </table>

          <div class="row">
            <div class="col-xs-12 col-12">
            
           </div> 
    </div>
</div>