
<div class="card" >
    <div class="card-header">
        Project Details<i class="icon-people"></i>
    </div>
    <div class="card-body">
        <div class="form-group row">
            <div class="col-md-2">
               <div class="input-group">
                  <!-- <span class="input-group-prepend">
                     <button type="button" class="btn btn-primary"><i class="icon-people"></i></button>
                  </span> -->
                  <input type="text" style="height: calc(2.0625rem + 2px) !important;" id="input3-group2"
                     [(ngModel)]="searchText" class="form-control" placeholder="Search">
                  <span class="input-group-append">
                     <button type="button" class="btn btn-primary"><i class="icon-magnifier"></i></button>
                  </span>
               </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                   <!-- <span class="input-group-prepend">
                      <button type="button" class="btn btn-primary"><i class="icon-people"></i></button>
                   </span> -->
                   <input type="text" style="height: calc(2.0625rem + 2px) !important;" id="input3-group2"
                      [(ngModel)]="searchText" class="form-control" placeholder="Search">
                   <span class="input-group-append">
                      <button type="button" class="btn btn-primary"><i class="icon-magnifier"></i></button>
                   </span>
                </div>
             </div>
             <div class="col-md-2">
                <div class="input-group">
                   <!-- <span class="input-group-prepend">
                      <button type="button" class="btn btn-primary"><i class="icon-people"></i></button>
                   </span> -->
                   <input type="text" style="height: calc(2.0625rem + 2px) !important;" id="input3-group2"
                      [(ngModel)]="searchText" class="form-control" placeholder="Search">
                   <span class="input-group-append">
                      <button type="button" class="btn btn-primary"><i class="icon-magnifier"></i></button>
                   </span>
                </div>
             </div>
             <div class="col-md-2">
                <div class="input-group">
                   <!-- <span class="input-group-prepend">
                      <button type="button" class="btn btn-primary"><i class="icon-people"></i></button>
                   </span> -->
                   <input type="text" style="height: calc(2.0625rem + 2px) !important;" id="input3-group2"
                      [(ngModel)]="searchText" class="form-control" placeholder="Search">
                   <span class="input-group-append">
                      <button type="button" class="btn btn-primary"><i class="icon-magnifier"></i></button>
                   </span>
                </div>
             </div>
             <div class="col-md-2">
                <div class="input-group">
                   <!-- <span class="input-group-prepend">
                      <button type="button" class="btn btn-primary"><i class="icon-people"></i></button>
                   </span> -->
                   <input type="text" style="height: calc(2.0625rem + 2px) !important;" id="input3-group2"
                      [(ngModel)]="searchText" class="form-control" placeholder="Search">
                   <span class="input-group-append">
                      <button type="button" class="btn btn-primary"><i class="icon-magnifier"></i></button>
                   </span>
                </div>
             </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-success btn-circle btn-md"  (click)="openModal(template)"><div class="plus_bold" > + </div></button> 

             </div>
         </div>
 
    </div>
</div>
<ng-template #template>
    <app-project-form></app-project-form>

  </ng-template>
