<form #newProjectForm="ngForm" (ngSubmit)="onSubmit(newProjectForm)" autocomplete="off">
  <div class="card">
    <div class="card-header ">
      {{action}} Project<i class="icon-people"></i>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="form-group col-sm-6">
          <label for="Project Type">Project Type <span style="color:red">*</span></label>
          <select  class="form-control" (change)="changedProjectType($event.target.value)" required [(ngModel)]="project.projectType"
            name="projectType" [ngClass]="{'red-border-class': !projectType1.valid && (projectType1.dirty || projectType1.touched)}"
            #projectType1="ngModel">
            <option selected>Choose...</option>
            <option *ngFor="let s of subType" [value]="s.id"> {{s.name }} - {{ s.english_name}}</option>
          </select>
          <div *ngIf="!projectType1.valid && (projectType1.dirty || projectType1.touched)" style="color:red">
            projectType is required
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="Name">Name <span style="color:red">*</span></label>
          <input type="text" class="form-control" required [(ngModel)]="project.name" name="name"
            [ngClass]="{'red-border-class': !name1.valid && name1.touched}" #name1="ngModel">
          <div *ngIf="!name1.valid && name1.touched" style="color:red">
            name is required
          </div>
        </div>
      </div>
        <div class="row">
        <div class="form-group col-sm-6">
          <label for="StartDate">StartDate <span style="color:red">*</span></label>
          <input type="text" class="form-control" required [(ngModel)]="project.startDate" name="startDate"
          [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"
          bsDatepicker #dp="bsDatepicker"
            [ngClass]="{'red-border-class': !startDate1.valid && startDate1.touched}" #startDate1="ngModel">
          <div *ngIf="!startDate1.valid && startDate1.touched" style="color:red">
            Start Date is required
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="Priority">Priority <span style="color:red">*</span></label>
          <select #mySelect class="form-control" required [(ngModel)]="project.priority"
            name="priority" [ngClass]="{'red-border-class': !priority1.valid && priority1.touched}"
            #priority1="ngModel">
            <option selected>Choose...</option>
            <option *ngFor="let priority of priorityList" [value]="priority.key"> {{priority.value}}</option>
          </select>
          <div *ngIf="!priority1.valid && priority1.touched" style="color:red">
            Priority is required
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <label for="Manager">Manager <span style="color:red">*</span></label>

          <select #mySelect class="form-control"  required [(ngModel)]="project.manager"
            name="manager" [ngClass]="{'red-border-class': !manager1.valid && manager1.touched}" #manager1="ngModel">
            <option selected>Choose...</option>
            <option *ngFor="let d of dept" [value]="d.id"> {{d.name}}</option>
          </select>
          <div *ngIf="!manager1.valid && manager1.touched" style="color:red">
            manager is required
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="Drawer Number ">Drawer Number <span style="color:red">*</span></label>
          <input type="text" class="form-control" required [(ngModel)]="project.drawerName" name="drawerName"
            [ngClass]="{'red-border-class': !drawerName1.valid && drawerName1.touched}" #drawerName1="ngModel">
          <div *ngIf="!drawerName1.valid && drawerName1.touched" style="color:red">
            drawername is required
          </div>
        </div>
      </div>
     <div class="row">
        <div class="form-group col-sm-6">
          <label> Objective</label>
          <textarea type="text" rows="2" class="form-control_textarea" required [(ngModel)]="project.objective" name="objective"
            [ngClass]="{'red-border-class': !objective1.valid && objective1.touched}" #objective1="ngModel"></textarea>
          <div *ngIf="!objective1.valid && objective1.touched" style="color:red">
            objective is required
          </div>

        </div>
        <div class="form-group col-sm-6">
          <label> Comment</label>
          <textarea type="text" rows="2" class="form-control_textarea" required [(ngModel)]="project.comment" name="comment"></textarea>
        </div>
        
      </div>
      <div class="row">
          <div class="custom-control form-control-lg custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1"  [(ngModel)]="project.hiddinProject" name="hiddinProject">
            <label class="custom-control-label" for="customCheck1"> 
              Hidden Project
          </label>
        </div>
        </div>

    </div>
    <div class="card-footer text-center">
      <button type="submit"  *ngIf="type !== null" [disabled]="!newProjectForm.form.valid" class="btn btn-success btn-lg"
       >Next</button> 
       <button type="submit"  *ngIf="type === null" [disabled]="!newProjectForm.form.valid" class="btn btn-success btn-lg"
       >Submit</button> 
       <button type="reset" class="btn btn-danger btn-lg"
       >reset</button> 
    </div>
  </div>
</form>
