<mat-form-field class="example-chip-list">
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip *ngFor="let dept of departments" [selectable]="selectable"
               [removable]="removable" (removed)="remove(dept)">
        {{ dept.name }}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="قسم"
             id="addDepartmentField"
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)"
             (keyup)="handleSubmitButton()"
             (change)="handleSubmitButton()">
    </mat-chip-list>
</mat-form-field>

<div class="dialog-button" mat-dialog-actions>
    <button mat-raised-button mat-dialog-close> إغلاق </button>
    <button mat-raised-button (click)="onSubmit()" [disabled]="submitDisabled" mat-dialog-close> إرسال </button>
</div>