<form #newProjectForm="ngForm" autocomplete="off" (ngSubmit)="onSubmit(newProjectForm)">
    <div class="card">
      <div class="card-header ">
        {{action}} Company Establishment<i class="icon-people"></i>
  
      </div>
   
      <div class="card-body">
        <div class="row">
          <div class="form-group col-sm-6">
            <label for="Company Name">Company Name<span style="color:red">*</span></label>
  
            <input type="text" class="form-control" required [(ngModel)]="establisment.companyName" name="companyName"
              [ngClass]="{'red-border-class': !companyName1.valid && companyName1.touched}" #companyName1="ngModel">
            <div *ngIf="!companyName1.valid && companyName1.touched" style="color:red">
              companyname is required
            </div>
          </div>
        
        </div>
       
       
  
      </div>
      <div class="card-footer text-center">
        <button type="submit"  [disabled]="!newProjectForm.form.valid"  class="btn btn-success btn-lg"
         >Submit</button> 
         <button type="reset" class="btn btn-danger btn-lg"
         >reset</button> 
      </div>
    </div>
  </form>