<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>

<div class="card">
    <div class="card-header">
        <i class="fa fa-black-tie"></i> أضف الوظيفة / Add Job 
    </div>
    <form [formGroup]="jobTitileForm"  (ngSubmit)="onSubmit()" onkeydown="return event.key != 'Enter';">

    <div class="card-body">
            <div formArrayName="jobtittle_names">
                <label for="jobTitle">عنوان وظيفي / Job title</label>
                <div class="row" *ngFor="let item of jobTitleNames.controls; let pointIndex=index"
                    [formGroupName]="pointIndex">
                    <div class="form-group col-sm-3">
                        <div class="input-group mb-2">
                            <div class="input-group">
                                <input 
                                    *ngIf="pointIndex === 0"
                                    type="text" 
                                    id="jobTitle"
                                    class="form-control" 
                                    formControlName="jobtittle"
                                    (keydown.enter)="addJobTitle()"
                                    required>
                                <input 
                                    *ngIf="pointIndex !== 0"
                                    type="text"
                                    class="form-control"
                                    [value]="jobTitleNames.controls[pointIndex].value.jobtittle"
                                    disabled>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="addJobTitle()" *ngIf="pointIndex === 0"
                                        class="btn btn-success btn-sm" type="button"><i class="fa fa-plus" aria-hidden="true"></i>
                                    </button>
                                    <button class="btn btn-outline-secondary" (click)="deleteaddJobTitle(pointIndex)" *ngIf="pointIndex !== 0"
                                        class="btn btn-danger btn-sm" type="button"><i class="fa fa-minus" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="checkValidity && this.jobTitileForm.invalid && pointIndex === 0" style="color: red">
                            <b>.Job title is required</b>
                        </div>
                    </div>
                </div>
            </div>
       
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col text-center">
                <button type="submit" class="btn btn-md btn-success">إنشاء شركة</button>
            </div>
        </div>
    </div>
</form>
</div>
<div class="card" *ngIf="jobs?.length > 0">
    <div class="card-header">
        <i class="fa fa-black-tie"></i> تفاصيل المسمى الوظيفي / Job Title Details
    </div>
    <div class="card-body">
        <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                  <th width="5"> SR</th>
                    <th>Job Title</th>
                    <th><button
                            type="button" 
                            tooltip="Delete" 
                            placement="bottom" 
                            [disabled]="checkedJobs.length === 0"
                            class="btn btn-danger btn-circle btn-md">
                            <div class="plus_bold">
                                 <i class="icon-trash"></i> 
                            </div>
                        </button>
                    </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let job of jobs; let i = index">
                    <td> {{ i + 1}}</td>
                    <td>{{job.name}}</td>
                    <td>
                        <input type="checkbox"  [value]="job.id" (change)="onCheckboxChange($event)" />
                    </td>
              </tr>
            </tbody>
          </table>

          <div class="row">
            <div class="col-xs-12 col-12">
             <pagination [totalItems]="bigTotalItems"  [maxSize]="maxSize"  [(ngModel)]="bigCurrentPage"  class="pagination-sm"  (pageChanged)="pageChanged($event)"
                         previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" 
                         [boundaryLinks]="true" [rotate]="false"  (numPages)="numPages = $event"></pagination>
           </div> 
    </div>
</div>