<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>
<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup]="changeForm" (ngSubmit)="changePassword()" >
                <h1>غير كلمة السر  </h1>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password"
                         class="form-control"  
                         formControlName="password"  
                         placeholder="كلمة المرور"
                         [ngClass]="{ 'is-invalid red-border-class':  isSubmitted &&  f.password.errors }"> 
                    <div *ngIf="f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required"><b>كلمة المرور مطلوبة</b></div>
                      <div *ngIf="f.password.errors.minlength">يجب أن تكون كلمة المرور ٨ أحرف على الأقل</div>
                      <div *ngIf="f.password.errors.maxlength"><b>يجب أن يكون طول كلمة المرور أقل من ١٦	</b></div> 
                   </div>
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password"
                         class="form-control"  
                         formControlName="confpassword" 
                         placeholder="تأكيد كلمة المرور"
                         [ngClass]="{ 'is-invalid red-border-class':  isSubmitted  &&  f.confpassword.errors }">
                       <div *ngIf="f.confpassword.errors" class="invalid-feedback">
                          <div *ngIf="f.confpassword.errors.required"><b>كلمة المرور مطلوبة</b></div>
                          <div *ngIf="f.confpassword.errors.mustMatch"><b>يجب ان تتطابق كلمات المرور</b></div>
                       </div>
                </div>
                <button type="submit" class=" btn btn-block btn-success">إنشاء المسؤول</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
