<div class="my-navbar">
  <mat-toolbar class="mat-toolbar-row" color="warn">
    <button class="mat-app-background"
      mat-icon-button
      class="example-icon" 
      aria-label="Example icon-button with menu icon"
      (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span style="font-size: 25px;" class="ml-3"> البريك للمحاماة</span>
    <div class="text-center">
      <input class="default-search" type="search" name="defaultSearch" placeholder="ابحث هنا">
    </div>
    <span class="example-spacer" ></span>
    <!-- <a class="mr-3 fa fa-exclamation-triangle">
      <span class="fa fa-comment"></span>
      <span class="num">4</span>
    </a> -->
    
    <!-- <a class="mr-3 fa fa-bell">
      <span class="fa fa-comment"></span>
      <span class="num">4</span>
    </a> -->

    <!-- <mat-icon class="mr-3" matBadge="4" matBadgePosition="before" matBadgeColor="warn">warning</mat-icon>
    <mat-icon class="mr-3" matBadge="7" matBadgePosition="before" matBadgeColor="warn">notifications</mat-icon>
    <mat-icon class="mr-3" matBadge="3" matBadgePosition="before" matBadgeColor="warn">mail</mat-icon>
    <mat-icon class="mr-3" matBadge="10" matBadgePosition="before" matBadgeColor="warn">account_balance</mat-icon> -->

    <mat-icon class="mr-3 cursor-pointer" matBadgeColor="warn">warning</mat-icon>
    <mat-icon class="mr-3 cursor-pointer" matBadgeColor="warn">notifications</mat-icon>
    <mat-icon routerLink="/system-mail/list" class="mr-3 cursor-pointer" matBadgeColor="warn">mail</mat-icon>
    <mat-icon 
        [matMenuTriggerFor]="courtMenu"
        class="mr-3 cursor-pointer"
        matBadgeColor="warn">
        account_balance
    </mat-icon>
    <mat-menu #courtMenu="matMenu">
      <div class="text-center" style="padding: 5px 16px;">
        Upcoming Court Appointments <hr style="margin-top: 0.3rem; margin-bottom: 0.3rem;">
        <a routerLink="/court-appointment/list">See All</a>
      </div>
    </mat-menu>

    <img [matMenuTriggerFor]="menu" style="cursor: pointer;" [src]="profilePictureUrl" alt="profile picture">
    <!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button> -->
    <mat-menu #menu="matMenu">
      <button (click)="uploadProfilePic()" mat-menu-item>
        <div class="text-center">Profile</div>
      </button>
      <button (click)="logout()" mat-menu-item>
        <div class="text-center">Log out</div>
      </button>
    </mat-menu>
  </mat-toolbar>
</div>

<div class="app-body">
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <ul class="nav flex-column">
        <li class="nav-item" id="dashboard">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
            <i class="icon-speedometer"></i> لوحة القيادة 
          </a>
        </li>
        <li class="nav-item" id="company">
          <a class="nav-link" routerLink="/master/company" routerLinkActive="active">
            <i class="fa fa-building"></i> الشركة 
          </a>
        </li>
        <li class="nav-item" id="department">
          <a class="nav-link" routerLink="/master/department" routerLinkActive="active">
            <i class="fa fa-sitemap"></i> الإدراة
          </a>
        </li>
        <li class="nav-item" id="jobTitle">
          <a class="nav-link" routerLink="/master/jobtitle" routerLinkActive="active">
            <i class="fa fa-black-tie"></i> المسمى الوظيفي 
          </a>
        </li>
        <li class="nav-item" id="role">
          <a class="nav-link" routerLink="/master/role" routerLinkActive="active">
            <i class="fa fa-stumbleupon"></i> الأدوار 
          </a>
        </li>
        <li class="nav-item" id="court">
          <a class="nav-link" routerLink="/master/court" routerLinkActive="active">
            <i class="fa fa-university"></i> المحاكم
          </a>
        </li>
        <li class="nav-item" id="user">
          <a class="nav-link" routerLink="/master/user" routerLinkActive="active">
            <i class="fa fa-user"></i> المستخدمين 
          </a>
        </li>
        <li class="nav-item" id="project">
          <a class="nav-link" routerLink="/master/project" routerLinkActive="active">
            <i class="fa fa-suitcase"></i> قائمة المشاريع
          </a>
        </li>
        <li class="nav-item" id="contact">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">
            <i class="fa fa-address-book"></i> جهات الإتصال 
          </a>
        </li>
      </ul>
    </mat-drawer>
    <main class="main">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </main>
    <app-aside [fixed]="true" [display]="false" [ngClass]="'test'">
      <tabset>
        <tab>
          <ng-template tabHeading><i class="icon-list"></i></ng-template>
          <div class="list-group list-group-accent">
            <div class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">
              <color-sketch (onChange)="handleChange($event)"></color-sketch>
            </div>
         
          </div>
        </tab>
        <tab>
          <ng-template tabHeading><i class="icon-speech"></i></ng-template>
       
        </tab>
        <tab>
          <ng-template tabHeading><i class="icon-settings"></i></ng-template>
          
        </tab>
      </tabset>
    </app-aside> 
    <!-- <app-footer>
      <span> &copy; Albraik Law Management</span>
      <span class="ml-auto text-center">Powered by AWS Software Solutions<a style="visibility: hidden;">UI for Albraik Law Management</a></span>
    </app-footer> -->
  </mat-drawer-container>
</div>