<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>


<div class="card">
    <div class="card-header card-border">
        <i class="fa fa-address-book"></i> جهات الإتصال <hr>
    </div>
    <form>
        <div class="card-body main-border-left main-border-right">
            <div id="icons" class="form-group row mr-3">
                <button type="button" class="btn btn-md" [disabled]="addDisabled" (click)="openAddDialog()"><div class="plus_bold"> + </div></button> 
                &nbsp;&nbsp;
                <button type="button" class="btn btn-md" [disabled]="editDisabled" (click)="openEditDialog()"><div class="plus_bold" > <i class="icon-pencil"></i> </div></button> 
        
                &nbsp;&nbsp;
                <button type="button" class="btn btn-md" [disabled]="deleteDisabled" (click)="deleteContact()"><div class="plus_bold" > <i class="icon-trash"></i> </div></button>
                
                &nbsp;&nbsp;
                <button type="button" class="btn btn-md" (click)="openSearchDialog()"><div class="plus_bold" > <i class="fa fa-search" aria-hidden="true"></i> </div></button>
                
                &nbsp;&nbsp;
                <button type="button" class="btn btn-md" (click)="refreshTable()"><div class="plus_bold" > <i class="fa fa-refresh" aria-hidden="true"></i> </div></button>
            </div>
        </div>
    </form>

    <div>
        <div class="main-border-left main-border-right main-border-bottom">

            <table mat-table [dataSource]="contactFiltered ? filteredContactList : contactList" class="mat-elevation-z8" style="margin-bottom: 1.5rem;">
                <ng-container matColumnDef="position">
                  <th class="text-center" style="width: 10%;" mat-header-cell *matHeaderCellDef> رقم سري </th>
                  <td mat-cell *matCellDef="let contact"> {{ contact.srNo }} </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th class="text-center" mat-header-cell *matHeaderCellDef> الاسم </th>
                    <td mat-cell *matCellDef="let contact"> {{ contact.name }} </td>
                </ng-container>
                <ng-container matColumnDef="contactTypeName">
                    <th class="text-center" mat-header-cell *matHeaderCellDef> اسم نوع جهة الاتصال </th>
                    <td mat-cell *matCellDef="let contact"> {{ contact.contact_type.name }} </td>
                </ng-container>
                <ng-container matColumnDef="email">
                    <th class="text-center" mat-header-cell *matHeaderCellDef> البريد الإلكتروني </th>
                    <td mat-cell *matCellDef="let contact"> {{ contact.email }} </td>
                </ng-container>
                <ng-container matColumnDef="mobileNo">
                    <th class="text-center" mat-header-cell *matHeaderCellDef> رقم الهاتف </th>
                    <td mat-cell *matCellDef="let contact"> {{ contact.phone_number }} </td>
                </ng-container>
                <ng-container matColumnDef="delete">
                    <th class="text-center" style="width: 10%;" mat-header-cell *matHeaderCellDef>  </th>
                    <td mat-cell *matCellDef="let contact">
                        <mat-checkbox (change)="onCheckboxChange($event, contact.id)"></mat-checkbox>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let contact; columns: displayedColumns;"></tr>
            </table>
            <div class="text-center" *ngIf="noRecordsFound">
                <h3>No Records Found</h3>
            </div>
        </div>
        <!-- <div class="card-header card-border">
        <i class="fa fa-address-book"></i> بحث جهة الاتصال / Search Contact 
        </div> -->
        <!-- <div>
    
            <div class="row">
    
                <div class="form-group col-sm-3">
                    <label>أكتب هنا / Type here</label>
                    <input type="text" class="form-control">
                    <div class="invalid-feedback">
                        <div><b>اسم الشركة مطلوب</b></div>
                    </div>
                </div>
    
                <div class="form-group col-sm-3">
                    <label for="sel1"> حدد نوع الاتصال / *Select Contact type</label>
                    <select #mySelect class="form-control" (change)="changed(mySelect.value)">
                        <option selected>Choose...</option>
                        <option *ngFor="let master of masterList" [value]="master.contactTypeID"> {{master.name}}</option>
                    </select>
                </div>
    
                <div class="form-group col-sm-3">
                    <label></label>
                    <div>
                        <button type="submit" class="btn btn-md btn-success"> بحث جهة الاتصال </button>
                    </div>
    
                </div>
    
                <div class="card-body">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Contact Name</th>
                                <th>Contact Category</th>
                                <th>Contact Mobile</th>
                                <th>Contact Email</th>
                                <th>Edit/Update</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let contact of contactList">
    
                                <td>{{contact.name}}</td>
                                <td>{{contact.contact_type_id}}</td>
                                <td>{{contact.mobile_number}}</td>
                                <td>{{contact.email}}</td>
                                <td>
    
                                    <span class="badge badge-primary">edit <i class="fas fa-bars"></i>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
    
                </div>
    
            </div>
        </div>
    </div> -->
</div>

<!-- <div class="card">
    <div class="card-header card-border">
        تحرير جهة الاتصال / Edit Contact <i class="icon-people"></i>    
    </div>
    <div class="card-body">
    
        <div class="row">
            <div class="form-group col-sm-3">
                <label >الاسم الأول / *First Name </label>
                <input type="text" class="form-control" required>
            </div>

            <div class="form-group col-sm-3">
                <label for="sel1"> فئة جهة الإتصال / *Contact Type</label>
                <select class="form-control" id="sel1">
                    <option> حدد الدور / Select Contact type</option>
                    <option>مساعد / Associate</option>
                    <option> المؤيد / Advocate</option>
                    <option> محامي أول / Senior Advocate</option>
                
                </select>
            </div>          
            
            <div class="form-group col-sm-3">
                <label >رقم الهاتف / Phone number</label>
                <input type="text" class="form-control" >
                <div class="invalid-feedback">
                    <div ><b>اسم الشركة مطلوب</b></div>
                </div>
            </div>

            <div class="form-group col-sm-3">
                <label >رقم الجوال / *Mobile number</label>
                <input type="text" class="form-control" >
                <div class="invalid-feedback">
                    <div ><b>اسم الشركة مطلوب</b></div>
                </div>
            </div>

            <div class="form-group col-sm-3">
                <label >البريد الإلكتروني / *Email</label>
                <input type="email" class="form-control" >
                <div class="invalid-feedback">
                    <div ><b>اسم الشركة مطلوب</b></div>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label >رقم الفاكس / Fax Number</label>
                <input type="text" class="form-control" >
                <div class="invalid-feedback">
                    <div ><b>اسم الشركة مطلوب</b></div>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label >العنوان / Address</label>
                <textarea class="form-control" ></textarea>
                <div class="invalid-feedback">
                    <div ><b>اسم الشركة مطلوب</b></div>
                </div>
            </div>

            <div class="form-group col-sm-3">
                <label >الملاحظات / Comment</label>
                <textarea class="form-control" ></textarea>
                <div class="invalid-feedback">
                    <div ><b>اسم الشركة مطلوب</b></div>
                </div>
            </div>
            
           
            <div class="form-group col-sm-4">
                <div>
                    <button type="submit" class="btn btn-md btn-success">إضافة جهة الإتصال</button>
                </div>
               
            </div>            
        </div>
    </div>       
</div>
 -->