<table class="table   table-striped table-sm">
    <thead>
        <tr>
            <th></th>
            <th>Contact Name</th>
            <th>Contact Category</th>
            <th>Contact Mobile</th>
            <th>Contact Email</th>
            <th>Fax Number</th>
            <th>Address</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contact of contactList;" (dblclick)="openModal(template, contact.id)">
                <td witdh="2%">
                 <input type="checkbox"  [value]="contact.id" (change)="onCheckboxChange($event)" />
                 </td>
            <td>{{contact.name}}</td>
            <td>{{contact.categoryName}}</td>
            <td>{{contact.phoneNumber}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.faxNumber}}</td>
            <td>
              <ng-template #address>
                <div> {{contact.address}}</div>
              </ng-template>
              <div class="longText" [tooltip]="address">{{contact.address}}</div>
            </td>
            <td>
              <ng-template #comment>
                <div> {{contact.comment}}</div>
              </ng-template>
              
              <div class="longText" [tooltip]="comment">{{contact.comment}}</div>
            </td>
        </tr>
    </tbody>
</table>
<ng-template #template>
  <app-contact-filter [contact]="contact"></app-contact-filter>
</ng-template> 