<form #newProjectForm="ngForm" (ngSubmit)="onSubmit(newProjectForm)">
    <div class="card">
      <div class="card-header ">
        {{action}} Inheretence Owner Name<i class="icon-people"></i>
  
      </div>
   
      <div class="card-body">
        <div class="row">
          <div class="form-group col-sm-6">
            <label for=" Inheretence Owner Name"> Inheretence Owner Name<span style="color:red">*</span></label>
  
            <input type="text" class="form-control" required [(ngModel)]="project.name" name="inheritownername"
              [ngClass]="{'red-border-class': !inheritownername1.valid && inheritownername1.touched}" #inheritownername1="ngModel">
            <div *ngIf="!inheritownername1.valid && inheritownername1.touched" style="color:red">
              inheritownername is required
            </div>
          </div>
        
        </div>
       
       
  
      </div>
      <div class="card-footer text-center">
        <button type="submit" class="btn btn-success btn-lg"
         >Submit</button> 
         <button type="reset" class="btn btn-danger btn-lg"
         >reset</button> 
      </div>
    </div>
  </form>