<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>

<!-- <div class="card">
    <app-role-det [rolemst]= "roles"></app-role-det>
    <div class="row">
        <div class="col-xs-12 col-12 text-center">
         <pagination [totalItems]="bigTotalItems"  [maxSize]="maxSize"  [(ngModel)]="bigCurrentPage"  class="pagination-sm"  (pageChanged)="pageChanged($event)"
                     previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" 
                     [boundaryLinks]="true" [rotate]="false"  (numPages)="numPages = $event"></pagination>
       </div> 
    </div>
</div> -->

<div class="card">
    <div class="card-header main-border-left main-border-right main-border-top">
        <i class="fa fa-stumbleupon"></i> الأدوار / Roles <hr>

    </div>
    <form [formGroup]="roleForm"  (ngSubmit)="onSubmit()">

    <div class="card-body main-border-left main-border-right">
        <div id="icons" class="form-group row mr-3">
            <button type="button" class="btn btn-md" [disabled]="addDisabled" (click)="openAddDialog()"><div class="plus_bold"> + </div></button> 
            &nbsp;&nbsp;
            <button type="button" class="btn btn-md" [disabled]="editDisabled" (click)="openEditDialog()"><div class="plus_bold" > <i class="icon-pencil"></i> </div></button> 
    
            &nbsp;&nbsp;
            <button type="button" class="btn btn-md" [disabled]="deleteDisabled" (click)="deleteDepartment()"><div class="plus_bold" > <i class="icon-trash"></i> </div></button> 
           
        </div>
            <!-- <div id="addRoleField" style="display: none;" formArrayName="role_names">
                
                <label>الأدوار / Roles</label>
                <div class="row" *ngFor="let item of roleNames.controls; let pointIndex=index"
                    [formGroupName]="pointIndex">
                    <div class="form-group col-sm-5">
                        <div class="input-group mb-3">
                            <div class="input-group">
                                <input 
                                    *ngIf="pointIndex === 0"
                                    type="text" 
                                    class="form-control" 
                                    formControlName="role"
                                    required>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="onSubmit()" *ngIf="pointIndex === 0"
                                        class="btn btn-success btn-sm" type="button"><i class="fa fa-plus" aria-hidden="true"></i>
                                    </button>
                                    <button 
                                        *ngIf="pointIndex === 0"
                                        class="btn btn-outline-secondary" 
                                        class="btn btn-danger btn-sm" 
                                        (click)="displayIcons()"
                                        type="button">
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                    </button>
                                    <button class="btn btn-outline-secondary" (click)="deleteRole(pointIndex)" *ngIf="pointIndex !== 0"
                                        class="btn btn-danger btn-sm" type="button"><i class="fa fa-minus" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
       
    </div>
    <!-- <div class="card-footer">
        <div class="row">
            <div class="col text-center">
                <button type="submit" class="btn btn-md btn-success">إنشاء شركة</button>
            </div>
        </div>
    </div> -->
</form>
<div class="main-border-left main-border-right main-border-bottom">

    <table mat-table [dataSource]="roles" class="mat-elevation-z8">
        <ng-container matColumnDef="position">
          <th class="text-center" style="width: 10%;" mat-header-cell *matHeaderCellDef> رقم سري </th>
          <td mat-cell *matCellDef="let role"> {{ role.srNo }} </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th class="text-center" mat-header-cell *matHeaderCellDef> قسم </th>
            <td mat-cell *matCellDef="let role"> {{ role.name }} </td>
        </ng-container>
        <ng-container matColumnDef="privilages">
            <th class="text-center" mat-header-cell *matHeaderCellDef> Privilages </th>
            <td mat-cell *matCellDef="let role"> {{ role.privilage }} </td>
        </ng-container>
        <ng-container matColumnDef="delete">
            <th class="text-center" style="width: 10%;" mat-header-cell *matHeaderCellDef>  </th>
            <td mat-cell *matCellDef="let role">
                <mat-checkbox (change)="onCheckboxChange($event, role.id)"></mat-checkbox>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let role; columns: displayedColumns;"></tr>
    </table>
</div>
<!-- <app-role-det [rolemst]="roles"></app-role-det> -->
</div>
