<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>

<div class="card">
    <app-role-det [rolemst]= "roles"></app-role-det>
    <div class="row">
        <div class="col-xs-12 col-12 text-center">
         <pagination [totalItems]="bigTotalItems"  [maxSize]="maxSize"  [(ngModel)]="bigCurrentPage"  class="pagination-sm"  (pageChanged)="pageChanged($event)"
                     previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" 
                     [boundaryLinks]="true" [rotate]="false"  (numPages)="numPages = $event"></pagination>
       </div> 
    </div>
</div>

<div class="card">
    <div class="card-header">
        <i class="fa fa-stumbleupon"></i> الأدوار / Roles 

    </div>
    <form [formGroup]="roleForm"  (ngSubmit)="onSubmit()">

    <div class="card-body">
        <div id="icons" class="form-group row">
            <button type="button" class="btn btn-success btn-circle btn-md" (click)="displayAddRoleField()"><div class="plus_bold" > + </div></button> 
            &nbsp;&nbsp;
            <button type="button" class="btn btn-info btn-circle btn-md"><div class="plus_bold" > <i class="icon-pencil"></i> </div></button> 
   
            &nbsp;&nbsp;
            <button type="button" class="btn btn-danger btn-circle btn-md"><div class="plus_bold" > <i class="icon-trash"></i> </div></button> 
           
        </div>
            <div id="addRoleField" style="display: none;" formArrayName="role_names">
                
                <label>الأدوار / Roles</label>
                <div class="row" *ngFor="let item of roleNames.controls; let pointIndex=index"
                    [formGroupName]="pointIndex">
                    <div class="form-group col-sm-5">
                        <div class="input-group mb-3">
                            <div class="input-group">
                                <input 
                                    *ngIf="pointIndex === 0"
                                    type="text" 
                                    class="form-control" 
                                    formControlName="role"
                                    required>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="onSubmit()" *ngIf="pointIndex === 0"
                                        class="btn btn-success btn-sm" type="button"><i class="fa fa-plus" aria-hidden="true"></i>
                                    </button>
                                    <button 
                                        *ngIf="pointIndex === 0"
                                        class="btn btn-outline-secondary" 
                                        class="btn btn-danger btn-sm" 
                                        (click)="displayIcons()"
                                        type="button">
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                    </button>
                                    <!-- <button class="btn btn-outline-secondary" (click)="deleteRole(pointIndex)" *ngIf="pointIndex !== 0"
                                        class="btn btn-danger btn-sm" type="button"><i class="fa fa-minus" aria-hidden="true"></i>
                                    </button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       
    </div>
    <!-- <div class="card-footer">
        <div class="row">
            <div class="col text-center">
                <button type="submit" class="btn btn-md btn-success">إنشاء شركة</button>
            </div>
        </div>
    </div> -->
</form>
<app-role-det [rolemst]="roles"></app-role-det>
</div>
