<!-- this is for Admin login -->

 


<div class="card">
    <div class="card-header">
     المعلومات الرئيسية / Key Information <i class="icon-people"></i>    
    </div>
    <div class="card-body">
    
        <div class="row">
            <div class="form-group col-sm-4">
                <label >الاسم الأول / *First Name </label>
                <input type="text" class="form-control" required>
            
            </div>
            <div class="form-group col-sm-4">
                <label >اسم الأب / *Father Name</label>
                <input type="text" class="form-control" >
                <div class="invalid-feedback">
                    <div ><b>اسم الشركة مطلوب</b></div>
                </div>
            </div>              
            <div class="form-group col-sm-4">
                <label >اسم العائلة / *Family Name</label>
                <input type="text" class="form-control" >
                <div class="invalid-feedback">
                    <div ><b>اسم الشركة مطلوب</b></div>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label for="sel1"> الدور  في النظام / *Select Role</label>
                <select class="form-control" id="sel1">
                    <option> حدد الدور / Select Role</option>
                    <option>مساعد / Associate</option>
                    <option> المؤيد / Advocate</option>
                    <option> محامي أول / Senior Advocate</option>
                
                </select>
            </div>              
        </div>
    </div>       
</div>

<div class="card">
    <div class="card-header">
        معلومات الوظيفة / Job Information <i class="icon-people"></i>   
    </div>
    <div class="card-body">
    
        <div class="row">
            <div class="form-group col-sm-3">
                <label for="dept"> الإدراة / *Department</label>
                <select class="form-control" id="dept">
                    <option> حدد الدور / IT</option>
                    <option>مساعد / Finance</option>
                    <option> المؤيد / Test</option>
                    <option> محامي أول / Test2</option>
                </select>
            </div>
            <div class="form-group col-sm-3">
                <label >المسمى الوظيفي / *Job Title</label>
                <input type="text" class="form-control" >
                <div class="invalid-feedback">
                    <div ><b>اسم الشركة مطلوب</b></div>
                 </div>
            </div> 
              
            <div class="form-group col-sm-3">
                <label >تاريخ الانضمام / *Joining Date</label>
                <input type="text" class="form-control" >
                <div class="invalid-feedback">
                    <div ><b>اسم الشركة مطلوب</b></div>
                </div>
            </div> 
                      
            
        </div>
    </div> 
   
</div>
<div class="card-footer">
    <div class="row">
        <div class="col text-center">
            <button type="submit" class="btn btn-md btn-success">إنشاء شركة</button>
            <button type="submit" class="btn btn-md btn-danger">حذف المستخدم </button>
        </div>
    </div>
</div>



<!-- this is for User login -->

  <!-- <div class="card">
    <div class="card-header">
     المعلومات الرئيسية / Key Information <i class="icon-people"></i>    
    </div>
    <div class="card-body">
    
        <div class="row">
            <div class="form-group col-sm-3">
                <label >الاسم الأول / *First Name </label>
                <input type="text" class="form-control" required>
                
            </div>
            <div class="form-group col-sm-3">
                <label >اسم الأب / *Father Name</label>
                <input type="text" class="form-control" >
                <div class="invalid-feedback">
                    <div ><b>اسم الشركة مطلوب</b></div>
                </div>
            </div> 
            <div class="form-group col-sm-3">
                <label >اسم الجد / *Grand Father Name</label>
                <input type="text" class="form-control" >
                <div class="invalid-feedback">
                    <div ><b>اسم الشركة مطلوب</b></div>
                </div>
            </div>             
            <div class="form-group col-sm-3">
                <label >اسم العائلة / *Family Name</label>
                <input type="text" class="form-control" >
                <div class="invalid-feedback">
                    <div ><b>اسم الشركة مطلوب</b></div>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label >تاريخ الميلاد / *Date of Birth</label>
                <input type="text" class="form-control" >
                <div class="invalid-feedback">
                    <div ><b>اسم الشركة مطلوب</b></div>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label >مكان الميلاد / *Place of Birth</label>
                <input type="text" class="form-control" >
                <div class="invalid-feedback">
                    <div ><b>اسم الشركة مطلوب</b></div>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label >التعليم / *Education</label>
                <input type="text" class="form-control" >
                <div class="invalid-feedback">
                    <div ><b>اسم الشركة مطلوب</b></div>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label >المهارات / *Skills</label>
                <input type="text" class="form-control" >
                <div class="invalid-feedback">
                    <div ><b>اسم الشركة مطلوب</b></div>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label >الجنسية / *Nationality</label>
                <input type="text" class="form-control" >
                <div class="invalid-feedback">
                    <div ><b>اسم الشركة مطلوب</b></div>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label >صورة الموظف / *User Picture</label>
                <input type="text" class="form-control" >
                <div class="invalid-feedback">
                    <div ><b>اسم الشركة مطلوب</b></div>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label for="sel1"> الدور  في النظام / *Select Role</label>
                <select class="form-control" id="sel1">
                    <option> حدد الدور / Select Role</option>
                    <option>مساعد / Associate</option>
                    <option> المؤيد / Advocate</option>
                    <option> محامي أول / Senior Advocate</option>
                
                </select>
            </div>              
        </div>
    </div>       
</div>

<div class="card">
    <div class="card-header">
        معلومات الوظيفة / Job Information <i class="icon-people"></i>   
    </div>
    <div class="card-body">
    
        <div class="row">
            <div class="form-group col-sm-3">
                <label for="dept"> الإدراة / *Department</label>
                <select class="form-control" id="dept">
                    <option> حدد الدور / IT</option>
                    <option>مساعد / Finance</option>
                    <option> المؤيد / Test</option>
                    <option> محامي أول / Test2</option>
                </select>
            </div>
            <div class="form-group col-sm-3">
                <label >المسمى الوظيفي / *Job Title</label>
                <input type="text" class="form-control" >
                <div class="invalid-feedback">
                    <div ><b>اسم الشركة مطلوب</b></div>
                 </div>
            </div> 
              
            <div class="form-group col-sm-3">
                <label >تاريخ الانضمام / *Joining Date</label>
                <input type="text" class="form-control" >
                <div class="invalid-feedback">
                    <div ><b>اسم الشركة مطلوب</b></div>
                </div>
            </div> 
        </div>
    </div>  
</div>


<div class="card">
    <div class="card-header">
        معلومات الاتصال  / Contact Information <i class="icon-people"></i>   
    </div>
    <div class="card-body">
    
        <div class="row">
           
            <div class="form-group col-sm-3">
                <label > رقم الهاتف / *Phone Number</label>
                <input type="number" class="form-control" >
                <div class="invalid-feedback">
                    <div ><b>اسم الشركة مطلوب</b></div>
                 </div>
            </div> 
              
            <div class="form-group col-sm-3">
                <label >رقم الجوال  / *Mobile Number</label>
                <input type="number" class="form-control" >
                <div class="invalid-feedback">
                    <div ><b>اسم الشركة مطلوب</b></div>
                </div>
            </div> 
            
            <div class="form-group col-sm-3">
                <label >البريد الإلكتروني / *Email</label>
                <input type="email" class="form-control" >
                <div class="invalid-feedback">
                    <div ><b>اسم الشركة مطلوب</b></div>
                </div>
            </div> 
            
            <div class="form-group col-sm-3">
                <label >العنوان / Address</label>
                <textarea class="form-control" ></textarea>
                <div class="invalid-feedback">
                    <div ><b>اسم الشركة مطلوب</b></div>
                </div>
             </div>
        </div>
    </div>  
</div>


<div class="card-footer">
    <div class="row">
        <div class="col text-center">
            <button type="submit" class="btn btn-md btn-success">إنشاء شركة</button>
        </div>
    </div>
</div> -->