<div class="card">
    <div class="card-header">
        Master <i class="icon-people"></i>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="form-group col-sm-4">
                <label >Master Pages</label>
                <select    #mySelect class="form-control" (change)="changed(mySelect.value)">
                    <option selected>Choose...</option>
                    <option *ngFor="let master of masterList" [value]="master.masterId"> {{master.masterDescription}}</option>
                  </select>
             </div>
        </div>
    </div>
</div>
<app-company-master *ngIf="pageName === 'company-master' "></app-company-master>
<app-jobtitle-master  *ngIf="pageName === 'job_master' "></app-jobtitle-master>
<app-department-master  *ngIf="pageName === 'department_master'"></app-department-master>