<div class="card" >
    <div class="card-header">
        Court Details<i class="icon-people"></i>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                  <th width="5"> SR</th>
                <th>Court Name</th>
              </tr>
            </thead>
            <tbody>
              <tr >
                  <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
</div>

<!-- <app-court-master [courtMst]="comapnyObj"></app-court-master> -->
<div class="card">
  <div class="card-header">
    جهة نظر القضية / Court <i class="icon-people"></i>

  </div>
  

  <div class="card-body">
          <div >
              <div class="row">
                  <div class="form-group col-sm-5">
                      <label>جهة نظر القضية / Court</label>
                      <div class="input-group mb-3">
                          <div class="input-group">
                              <input type="text" class="form-control" >
                              <div class="input-group-append">
                                  <button class="btn btn-outline-secondary" 
                                      class="btn btn-success btn-sm" type="button">أضف <i class="icon-plus"></i>
                                  </button>
                                  <button class="btn btn-outline-secondary"
                                      class="btn btn-danger btn-sm" type="button">حذف <i class="icon-minus"></i></button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
     
  </div>
  <div class="card-footer">
      <div class="row">
          <div class="col text-center">
              <button type="submit" class="btn btn-md btn-success">إنشاء شركة</button>
          </div>
      </div>
  </div>

</div>