<div class="card">
    <div class="card-header">
        Department <i class="icon-people"></i>

    </div>
    <div class="card-body">
        <form [formGroup]="departmentForm">
            <div formArrayName="department_names">
                <div class="row" *ngFor="let item of departmentNames.controls ; let pointIndex=index"
                    [formGroupName]="pointIndex">
                    <div class="form-group col-sm-6">
                        <label>اسم القسم                        </label>
                        <div class="input-group mb-3">
                            <div class="input-group">
                                <input type="text" class="form-control" formControlName="departments" >
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="addDeparment()" *ngIf="pointIndex === 0"
                                        class="btn btn-success btn-sm" type="button">أضف
                                    </button>
                                    <button class="btn btn-outline-secondary" (click)="deleteDepartment(pointIndex)" *ngIf="pointIndex !== 0"
                                        class="btn btn-danger btn-sm" type="button">حذف</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>