<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>

<div class="card">
    <div class="card-header">
        <i class="fa fa-building"></i> أضف شركة / Add Company 
      </div>
    <div class="card-body">
     
        <form [formGroup]="companyForm" (ngSubmit)="onSubmit()" >
        <div class="row">
          
            <div class="form-group col-sm-3">
                <label >اسم الشركة / Company Name*</label>
                <input type="text" formControlName="companyName" class="form-control" [ngClass]="{ 'is-invalid': f.companyName.touched &&  f.companyName.errors }">
                <div *ngIf="f.companyName.errors" class="invalid-feedback">
                    <div *ngIf="f.companyName.errors.required"><b>اسم الشركة مطلوب</b></div>
                </div>
             </div>
             <div class="form-group col-sm-3">
                <label >رقم الهاتف / Phone Number*</label>
                <input type="text" formControlName="phoneNumber" class="form-control" [ngClass]="{ 'is-invalid': f.phoneNumber.touched &&  f.phoneNumber.errors }">
                <div *ngIf="f.phoneNumber.errors" class="invalid-feedback">
                    <div *ngIf="f.phoneNumber.errors.required"><b>رقم الهاتف مطلوب </b></div>
                </div>
             </div>
             <div class="form-group col-sm-3">
                <label>رقم الفاكس / Fax Number</label>
                <input type="text"  formControlName="faxNumber"   class="form-control">
              
             </div>
             <div class="form-group col-sm-3">
                <label >العنوان / Address*</label>
                <textarea class="form-control" formControlName="address" rows="3" [ngClass]="{ 'is-invalid': f.address.touched &&  f.address.errors }"></textarea>
                <div *ngIf="f.address.errors" class="invalid-feedback">
                    <div *ngIf="f.address.errors.required"><b>العنوان مطلوب </b></div>
                </div>
             
             </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-2">
                <label>رقم الفاكس / Logo Upload</label>
                <input type="file"  formControlName="logo" name="image" (change)="fileProgress($event)" >
             </div>
             <div class="form-group col-sm-3">
             
                <div *ngIf="fileUploadProgress">
                    Upload progress: {{ fileUploadProgress }}
                </div>
                <div  *ngIf="previewUrl">
                    <img [src]="previewUrl" height="200" />                 
                </div>
                <div class="col-sm-3" *ngIf="uploadedFilePath">
                    {{uploadedFilePath}}
                </div>
             </div>
             
        </div>
         <div class="row">
            <div class="col text-center">
                <button type="submit" class="btn btn-md btn-success">إنشاء شركة</button>
            </div>
        </div>
        </form>
    </div>
</div>
<app-company-details [commpanyMst]="comapnyObj"></app-company-details>