<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>

<div class="card">
    <div class="card-header main-border-left main-border-right main-border-top">
        <i class="fa fa-building"></i> أضف شركة <hr>
    </div>

        <div class="card-body main-border-left main-border-right">
            <div id="icons" class="form-group row mr-3">
                <button type="button" class="btn btn-md" [disabled]="addDisabled" (click)="openAddDialog()"><div class="plus_bold"> + </div></button> 
                &nbsp;&nbsp;
                <button type="button" class="btn btn-md" [disabled]="editDisabled" (click)="openEditDialog()"><div class="plus_bold" > <i class="icon-pencil"></i> </div></button> 
            </div>
        </div>
    <div>
      <div class="main-border-left main-border-right main-border-bottom">

          <table mat-table [dataSource]="companyObj" class="mat-elevation-z8">
              <ng-container matColumnDef="logo">
                <th class="text-center" mat-header-cell *matHeaderCellDef> الشعار </th>
                <td style="padding-bottom: 8px;" mat-cell *matCellDef="let company"><img src={{company.companyLogo}} height="40" width="40" style="border-radius: 4px;" /></td>
              </ng-container>
              <ng-container matColumnDef="position">
                <th class="text-center" mat-header-cell *matHeaderCellDef> رقم سري </th>
                <td mat-cell *matCellDef="let company"> {{ company.srNo }} </td>
              </ng-container>
              <ng-container matColumnDef="name">
                  <th class="text-center" mat-header-cell *matHeaderCellDef> قسم </th>
                  <td mat-cell *matCellDef="let company"> {{ company.name }} </td>
              </ng-container>
              <ng-container matColumnDef="phoneNumber">
                <th class="text-center" mat-header-cell *matHeaderCellDef> رقم الهاتف </th>
                <td mat-cell *matCellDef="let company"> {{ company.phoneNumber }} </td>
              </ng-container>
              <ng-container matColumnDef="faxNumber">
                <th class="text-center" mat-header-cell *matHeaderCellDef> رقم الفاكس </th>
                <td mat-cell *matCellDef="let company"> {{ company.faxNumber }} </td>
              </ng-container>
              <ng-container matColumnDef="address">
                <th class="text-center" mat-header-cell *matHeaderCellDef> العنوان </th>
                <td mat-cell *matCellDef="let company"> {{ company.address }} </td>
              </ng-container>
              <ng-container matColumnDef="delete">
                  <th class="text-center" mat-header-cell *matHeaderCellDef>  </th>
                  <td mat-cell *matCellDef="let company">
                      <mat-checkbox (change)="onCheckboxChange($event, company.id)"></mat-checkbox>
                  </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let company; columns: displayedColumns;"></tr>
          </table>
      </div>
  </div>
</div>

