
<div class="card">
    <div class="card-header">
        Company <i class="icon-people"></i>
    </div>
    <div class="card-body">
        <form [formGroup]="companyForm" >
        <div class="row">
            <div class="form-group col-sm-4">
                <label >اسم الشركة </label>
                <input type="text" formControlName="companyName" class="form-control" [ngClass]="{ 'is-invalid': f.companyName.touched &&  f.companyName.errors }">
                <div *ngIf="f.companyName.errors" class="invalid-feedback">
                    <div *ngIf="f.companyName.errors.required"><b>اسم الشركة مطلوب</b></div>
                </div>
             </div>
             <div class="form-group col-sm-4">
                <label >رقم الهاتف   </label>
                <input type="text" formControlName="phoneNumber" class="form-control" [ngClass]="{ 'is-invalid': f.phoneNumber.touched &&  f.phoneNumber.errors }">
                <div *ngIf="f.phoneNumber.errors" class="invalid-feedback">
                    <div *ngIf="f.phoneNumber.errors.required"><b>رقم الهاتف مطلوب </b></div>
                </div>
             </div>
             <div class="form-group col-sm-4">
                <label>رقم الفاكس</label>
                <input type="text"  formControlName="faxNumber" class="form-control">
             </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4">
                <label >اسم الشركة </label>
                <textarea class="form-control" formControlName="address" rows="3" [ngClass]="{ 'is-invalid': f.address.touched &&  f.address.errors }"></textarea>
                <div *ngIf="f.address.errors" class="invalid-feedback">
                    <div *ngIf="f.address.errors.required"><b>العنوان مطلوب </b></div>
                </div>
             </div>
             <div class="form-group col-sm-4">
                <label >اسم الشركة</label>
                <input class="form-control" formControlName="logo" type="file" id="myFile" name="filename2"/>
             </div>
             
        </div>
        </form>
    </div>
</div>
