:root {
    --first-color:  #8D6E63;
    --second-color: #ffff8c;
  } 

  .temp{
    background-color:var(--first-color);
  }

.mat-tab-group {
  margin-bottom: 48px;
}

/* .mat-tab-label-active {
  padding: 0px 20px;
} */