<!-- <div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-primary">
                <div class="card-body pb-0">
                  <div class="btn-group float-right" dropdown>
                    <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
                      <i class="icon-settings"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                  <div class="text-value temp">9.823</div>
                  <div>Members online</div>
                </div>
             
              </div>
        </div>
      
        </div>
</div> -->
<div class="card">
  <div class="card-header">
    التوجيه <hr>
  </div>
  <div class="card-body">
      <div id="icons" class="form-group row mr-3">
          <button id="add-task-button" type="button" class="btn btn-md" (click)="openAddDialog()" [disabled]="addTaskDisabled"><div class="plus_bold"> + </div></button> 
      </div>
    <div>
      <table mat-table [dataSource]="tasks" class="mat-elevation-z8">
          <ng-container matColumnDef="projectNumber">
            <th class="text-center" mat-header-cell *matHeaderCellDef> الرقم </th>
            <td mat-cell *matCellDef="let task"> {{ task.projectNumber }} </td>
          </ng-container>
          <ng-container matColumnDef="projectName">
            <th class="text-center" mat-header-cell *matHeaderCellDef> اسم المشروع </th>
            <td mat-cell *matCellDef="let task"> {{ task.projectName }} </td>
          </ng-container>
          <ng-container matColumnDef="task">
            <th class="text-center" mat-header-cell *matHeaderCellDef> التوجيه </th>
            <td mat-cell *matCellDef="let task"> {{ task.task }} </td>
          </ng-container>
          <ng-container matColumnDef="date">
            <th class="text-center" mat-header-cell *matHeaderCellDef> تاريخ </th>
            <td mat-cell *matCellDef="let task"> {{ task.date }} </td>
          </ng-container>
          <ng-container matColumnDef="duration">
            <th class="text-center" mat-header-cell *matHeaderCellDef> المدة </th>
            <td mat-cell *matCellDef="let task"> {{ task.duration }} </td>
          </ng-container>
          <ng-container matColumnDef="assignee">
            <th class="text-center" mat-header-cell *matHeaderCellDef> المكلف </th>
            <td mat-cell *matCellDef="let task"> {{ task.assignee }} </td>
          </ng-container>
          <ng-container matColumnDef="priority">
            <th class="text-center" mat-header-cell *matHeaderCellDef> الأهمية </th>
            <td mat-cell *matCellDef="let task"> {{ task.priority }} </td>
          </ng-container>
          <ng-container matColumnDef="quickResponse">
            <th class="text-center" mat-header-cell *matHeaderCellDef>  </th>
            <td style="padding-bottom: 8px;" mat-cell *matCellDef="let task">
              <button class="btn btn-primary">الرد</button> 
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let task; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
