<form class="content" [formGroup]="addTaskForm">
    <div class="row">
        <div class="col-sm-6">
            <div>
                <div>
                    <mat-form-field style="width: 100%;">
                        <mat-label>التوجيه</mat-label>
                        <textarea matInput formControlName="description" rows="15" cols="10"></textarea>
                        <mat-error *ngIf="description.hasError('required')">Description is required</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label>المدة</mat-label>
                        <input type="text" formControlName="duration" matInput>
                    </mat-form-field>
                </div>
                <div>
                    <label class="btn-file">
                        اختر ملف<input type="file" name="attachment" (change)="fileChanged($event)" style="display: none;" multiple>
                    </label>
                    <div *ngIf="showFileIcon">
                        <div *ngFor="let fileIconObj of fileIconList; let fileIndex = index " class="file-chip">
                            <div class="row">
                                <div class="col-sm-2 close-button">
                                    <mat-icon (click)="removeFile(fileIndex)" style="cursor: pointer; font-size: 1.3rem;">close</mat-icon>
                                </div>
                                <div class="col-sm-2 edit-filename-button">
                                    <mat-icon (click)="editFileName(fileIndex)" style="cursor: pointer; font-size: 1.3rem;">edit</mat-icon>
                                </div>
                                <div class="col-sm-2" style="margin-top: 0.4rem; margin-right: 0.4rem; margin-left: -0.3rem; padding-right: 0rem;">
                                    <i style="font-size: 1.2rem;" [class]="fileIconObj.icon"></i>
                                </div>
                                <div class="col-sm-6" style="margin-right: -0.4rem; padding-right: 0rem">
                                    <div class="text-left" style="font-size: 10px; margin-left: -1.2rem">{{ fileIconObj.name }}</div>
                                    <div class="text-right" style="font-size: 10px;">{{ fileIconObj.size }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div>
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>نوع المشروع</mat-label>
                    <mat-select formControlName="project_id" required>
                        <mat-option>--</mat-option>
                        <mat-option 
                            *ngFor="let proj of projectList" 
                            [value]="proj.project_id">
                            {{ proj.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="project_id.hasError('required')">Please choose a project</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>المكلف</mat-label>
                    <mat-select formControlName="assignee_id" (selectionChange)="showPendingTaskCount()" required>
                        <mat-option>--</mat-option>
                        <mat-option 
                            *ngFor="let user of users" 
                            [value]="user.id">
                            {{ user | fullName }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="assignee_id.hasError('required')">Please choose an assignee</mat-error>
                </mat-form-field>
            </div>
            <div class="d-flex flex-row justify-content-between" style="margin-bottom: 1.1rem;">
                <div class="pending-tasks">
                    <div class="circle bg-success">{{ greenTaskCount }}</div>
                    <div class="circle bg-warning">{{ yellowTaskCount }}</div>
                    <div class="circle bg-danger">{{ redTaskCount }}</div>
                </div>
                <img style="border-radius: 50%;" [src]="assigneeProfilePicture" alt="profile photo" width="40px" height="40px">
            </div>
            <div>
                <!-- <mat-form-field class="w-100" appearance="fill">
                    <mat-label>الأهمية</mat-label>
                    <mat-select formControlName="priority" required>
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let priority of priorityList" [value]="priority.key">
                            {{ priority.value }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="priority.hasError('required')">Please choose a priority</mat-error>
                </mat-form-field> -->
            </div>
            <div>
                <mat-form-field class="example-full-width">
                    <mat-label>تاريخ مباشرة بالعمل</mat-label>
                    <input 
                        (bsValueChange)="setDuration(dp)"
                        matInput 
                        [minDate]="minDate"
                        formControlName="due_date" 
                        bsDatepicker #dp="bsDatepicker">
                    <mat-error *ngIf="due_date.hasError('required')">
                        Joining date is required
                    </mat-error>
                </mat-form-field>
                <!-- <mat-form-field appearance="fill">
                    <mat-label>Different locale</mat-label>
                    <input matInput [matDatepicker]="dp">
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp></mat-datepicker>
                </mat-form-field> -->
            </div>
            <div>
                <mat-checkbox formControlName="is_hidden" value="true">إجراء مخفي؟</mat-checkbox>
            </div>
            <div>
                <mat-checkbox (change)="courtAppointmentCheckboxChanged($event)">تعيين موعد المحكمة</mat-checkbox>
            </div>
            <div *ngIf="showCourtAppointmentDropdown">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>موعد المحكمة</mat-label>
                    <mat-select formControlName="courtAppointment" required>
                        <mat-option>--</mat-option>
                        <mat-option 
                            *ngFor="let courtAppointment of courtAppointmentList" 
                            [value]="courtAppointment.id">
                            {{ courtAppointment.title +" - "+ courtAppointment.appointmentDate }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="courtAppointment.hasError('required')">Please choose an assignee</mat-error>
                </mat-form-field>
            </div>
            <!-- <mat-checkbox formControlName="is_hidden" value="true">إجراء مخفي؟</mat-checkbox>
            <mat-checkbox (change)="courtAppointmentCheckboxChanged($event)">تعيين موعد المحكمة</mat-checkbox> -->
        </div>
    </div>
    <div *ngIf="showProgressBar" class="progress-bar">
        <p>تحميل المرفق</p>
        <mat-progress-bar
          [mode]="determinate"
          [value]="progressBarValue">
        </mat-progress-bar>
    </div>
</form>
<div class="dialog-button" style="clear: both;" mat-dialog-actions>
    <button mat-raised-button mat-dialog-close> إغلاق </button>
    <button mat-raised-button (click)="onSubmit()" [disabled]="addTaskForm.invalid"> إرسال </button>
</div>