<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<div>
    <table mat-table [dataSource]="tasks" class="mat-elevation-z8">
        <ng-container matColumnDef="projectNumber">
            <th class="text-center" mat-header-cell *matHeaderCellDef> الرقم </th>
            <td [class]="task.color" mat-cell *matCellDef="let task"> {{ task.project_id }} </td>
        </ng-container>
        <ng-container matColumnDef="projectName">
            <th class="text-center" mat-header-cell *matHeaderCellDef> اسم المشروع </th>
            <td mat-cell *matCellDef="let task">
                <a [style.color]="task.link_color" [routerLink]="['project/', task.project_id+'-'+task.project_name, 'task-list']">
                    {{ task.project_name }} 
                </a>
            </td>
        </ng-container>
        <ng-container matColumnDef="taskDescription">
            <th class="text-center" mat-header-cell *matHeaderCellDef> التوجيه </th>
            <td [class]="task.color" mat-cell *matCellDef="let task"> {{ task.description }} </td>
        </ng-container>
        <ng-container matColumnDef="taskResponse">
            <th class="text-center" mat-header-cell *matHeaderCellDef> وصف الإجراء </th>
            <td [class]="task.color" mat-cell *matCellDef="let task"> {{ task.response_text }} </td>
        </ng-container>
        <ng-container matColumnDef="date">
            <th class="text-center" mat-header-cell *matHeaderCellDef> تاريخ </th>
            <td [class]="task.color" mat-cell *matCellDef="let task"> {{ task.due_date }} </td>
        </ng-container>
        <ng-container matColumnDef="duration">
            <th class="text-center" mat-header-cell *matHeaderCellDef> المدة </th>
            <td [class]="task.color" mat-cell *matCellDef="let task"> {{ task.duration }} </td>
        </ng-container>
        <ng-container matColumnDef="assignee">
            <th class="text-center" mat-header-cell *matHeaderCellDef> المكلف </th>
            <td [class]="task.color" mat-cell *matCellDef="let task"> {{ task.assignee_name }} </td>
        </ng-container>
        <ng-container matColumnDef="priority">
            <th class="text-center" mat-header-cell *matHeaderCellDef> الأهمية </th>
            <td [class]="task.color" mat-cell *matCellDef="let task"> {{ task.priority }} </td>
        </ng-container>
        <ng-container matColumnDef="attachment">
            <th class="text-center" style="width: 3%" mat-header-cell *matHeaderCellDef>  </th>
            <td [class]="task.color" mat-cell *matCellDef="let task"> 
                <div>
                    <button
                        *ngIf="task.attachment_list.length > 0"
                        [class]="task.color+' '+'btn button-with-mat-icon'" 
                        tooltip="Task Attachment" 
                        (click)="openAttachmentDialog(task, 'TASK')">
                        <mat-icon style="font-size: 1.3rem;">attachment</mat-icon>
                    </button>
                    <button
                        *ngIf="task.task_reply && task.task_reply.attachment_list.length > 0"
                        [class]="task.color+' '+'btn button-with-mat-icon'" 
                        tooltip="Response Attachment" 
                        (click)="openAttachmentDialog(task.task_reply, 'RESPONSE')">
                        <mat-icon style="font-size: 1.3rem;">attachment</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="quickResponse">
            <th class="text-center" style="width: 5%" mat-header-cell *matHeaderCellDef>  </th>
            <td [class]="task.color" style="padding-bottom: 8px;" mat-cell *matCellDef="let task">
                <button *ngIf="task.display_respond_button" tooltip="Respond" [class]="task.color+' '+'btn button-with-mat-icon'" (click)="openReplyDialog(task.id, task.project_id, task.is_hidden)">
                    <mat-icon style="font-size: 1.3rem;">reply</mat-icon>
                </button> 
                <button *ngIf="!task.display_respond_button" tooltip="Edit" [class]="task.color+' '+'btn button-with-mat-icon'" (click)="openEditReplyDialog(task.id, task.project_id, task.task_reply.id, task.is_hidden, task.task_reply.description, task.task_reply.attachment_list)">
                    <mat-icon style="font-size: 1.2rem;">edit</mat-icon>
                </button> 
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row style="border-bottom: 1px solid white;" *matRowDef="let task; columns: displayedColumns;" [class]="task.background_color"></tr>
    </table>
</div>