<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<mat-card>
    <div class="mb-4 header">
        <mat-card-header>
            <div class="text-center title">
                <mat-card-title>{{ projectId }}-{{ projectName }}</mat-card-title>
            </div>
        </mat-card-header>
        <hr>
        <div class="d-flex flex-row justify-content-between">
            <div id="icons" class="form-group row mr-3">
                <button id="add-task-button" type="button" class="btn btn-md" (click)="openAddDialog()" [disabled]="addTaskDisabled"><div class="plus_bold"> + </div></button>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-md" (click)="refresh()"><div class="plus_bold" > <i class="fa fa-refresh" aria-hidden="true"></i> </div></button>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-md" (click)="openNotesDialog()"><div class="plus_bold" > <i class="fa fa-sticky-note" aria-hidden="true"></i> </div></button>
            </div>
            <div class="pending-tasks">
                <div class="circle bg-success">{{ greenTaskCount }}</div>
                <div class="circle bg-warning">{{ yellowTaskCount }}</div>
                <div class="circle bg-danger">{{ redTaskCount }}</div>
            </div>
        </div>
    </div>
    <div *ngIf="involvedUsers">
    <div *ngFor="let task of projectTasks;" class="row ml-0">
        <div class="col-sm-6">
            <mat-card>
                <mat-card-header class="pl-3">
                    <div class="set-left-card-margin d-flex flex-row justify-content-between w-100">
                        <div>
                            <!-- <div mat-card-avatar class="header-image"></div>
                            <mat-card-title>{{ task.assigner_name }}</mat-card-title> -->
                            <img style="border-radius: 50%;" [src]="getProfilePicture(task.assigner_id)" alt="profile photo" width="40px" height="40px">
                            <mat-card-title style="display: inline; margin-right: 0.6rem;">
                                {{ task.assigner_name }}
                            </mat-card-title>
                        </div>
                        <div>
                            <button *ngIf="task.is_hidden" class="btn button-with-mat-icon" tooltip="Hidden Task">
                                <mat-icon>visibility_off</mat-icon>
                            </button>
                            <button class="btn button-with-mat-icon" tooltip="Copy Description" [cdkCopyToClipboard]="task.response_text">
                                <mat-icon>file_copy</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <p class="pl-3">{{ task.description }}</p>
                    <p *ngIf="task.assigner_id === userId && task.task_reply" style="margin-bottom: 1.43rem;">&nbsp;&nbsp;</p>
                    <hr style="margin-right: 20px; margin-left: 20px;">
                    <div style="padding: 0.5rem 1rem; margin-top: -0.383rem;">
                        <div class="d-flex flex-row justify-content-between">
                            <p class="mb-0">{{ task.created_time }}</p>
                            <!-- <p class="mb-0" *ngIf="task.is_hidden"><mat-icon>visibility_off</mat-icon></p> -->
                            <p class="mb-0">المدة: {{ task.duration }}</p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm-6">
            <mat-card>
                <mat-card-header>
                    <div class="set-right-card-margin d-flex flex-row justify-content-between w-100">
                        <div>
                            <div *ngIf="task.assignee_id === userId" style="display: inline;">
                                <button *ngIf="task.status === taskInProgress && (task.background_color === 'bg-warning' || task.background_color === 'bg-danger')" tooltip="Extend duration" class="btn btn-primary button-with-mat-icon">
                                    <mat-icon>add_alarm</mat-icon>
                                </button> 
                                <button *ngIf="task.status === taskInProgress" tooltip="Respond" class="btn btn-primary button-with-mat-icon" (click)="openReplyDialog(task.id, task.is_hidden)">
                                    <mat-icon>reply</mat-icon>
                                </button> 
                                <button *ngIf="task.status === taskCompleted || task.status === taskLateCompleted" tooltip="Edit" class="btn btn-primary button-with-mat-icon" (click)="openEditReplyDialog(task.id, task.task_reply.id, task.is_hidden, task.task_reply.description)">
                                    <mat-icon>edit</mat-icon>
                                </button> 
                            </div>
                            <button class="btn button-with-mat-icon" tooltip="Copy Response" [cdkCopyToClipboard]="task.response_text">
                                <mat-icon>file_copy</mat-icon>
                            </button>
                        </div>
                        <div>
                            <mat-card-title style="display: inline; margin-left: 0.6rem;">
                                {{ task.assignee_name }}
                            </mat-card-title>
                            <!-- <div mat-card-avatar class="header-image"></div> -->
                            <img style="border-radius: 50%;" [src]="getProfilePicture(task.assignee_id)" alt="profile photo" width="40px" height="40px">
                        </div>
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <p class="pl-3">{{ task.response_text }}</p>
                    <div *ngIf="task.assigner_id === userId && task.task_reply" class="pl-3 reaction">
                        <mat-icon
                            tooltip="Like" 
                            [class.flip-icon-color]="task.task_reply.ike === taskLiked"
                            (click)="likeTaskReply(task)">
                            sentiment_very_satisfied
                        </mat-icon>
                        <mat-icon 
                            tooltip="Dislike" 
                            [class.flip-icon-color]="task.task_reply.ike === taskDisliked"
                            (click)="dislikeTaskReply(task)">
                            sentiment_very_dissatisfied
                        </mat-icon>
                    </div>
                    <hr>
                    <div id="footer" [class]="[task.background_color]">
                        <div id="upper-left-corner-1"></div>
                        <div id="upper-left-corner" [class]="task.background_color"></div>
                        <div id="upper-right-corner-1"></div>
                        <div id="upper-right-corner" [class]="task.background_color"></div>
                        <div class="d-flex flex-row justify-content-between">
                            <p *ngIf="task.response_time === '-'">الأيام المتبقية: {{ task.dueDays }}</p>
                            <p *ngIf="task.response_time !== '-'">الأيام المتوفرة: {{ task.dueDays }}</p>
                            <p>{{ task.response_time }}</p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="separator"></div>
    </div>
    </div>
</mat-card>