.header .mat-card-header-text {
    margin: 0px;
}

.header {
    margin-top: 2rem;
    margin-bottom: -1rem;
}

.header .mat-card-header {
    margin-top: 1rem;
}

.header .mat-card-header .mat-card-title {
    margin-bottom: 0px;
    /* width: 385%;
    text-align: center; */
}

.pending-tasks {
    padding: 10px;
}

.pending-tasks div{
    display: inline-block;
    /* padding: 0px 12.5px 40px 7px;
    font-size: 1.8rem; */
    padding: 0px 11.5px 33px 0px;
    font-size: 1.4rem;
}

.circle {
    height: 20px;
    width: 35px;
    display: inline-block;
    border-radius: 50%;
}

.involved-users {
    display: flex;
    flex-wrap: wrap;
}

.involved-users .remove-user {
    position: absolute;
    z-index: 1;
    background-color: #e4e4e4;
    border-radius: 50%;
    height: 22px;
    width: 21px;
}

.involved-users .remove-user:hover {
    background-color: #cecece;
}

.involved-users div {
    position: relative;
}

.involved-users .remove-user mat-icon {
    font-size: 1.3rem;
    font-weight: 400;
    color: red;
}

.involved-users img {
    border-radius: 50%;
}

mat-card-header .set-right-card-margin {
    margin-right: -1rem !important;
    margin-left: 1rem !important;
}

.set-left-card-margin {
    margin-right: -2rem !important;
    margin-left: 1rem !important;
}

.header .title {
    width: 100%;
    margin-right: -2rem;
}

.header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.row mat-card {
    padding: 16px 0px 0.2px 0px;
    border-radius: 4px 4px 10px 10px;
    margin-top: 1rem;
    box-shadow: 0px 1px 3px 1px rgb(0, 0, 0, 0.4);
}

.file-icon {
    padding: 0px;
    font-size: 20px;
    margin-top: -0.75rem;
}

.file-chip {
    background-color: #e0e0e0;
    border-radius: 50px;
    margin-bottom: 0.3rem;
    padding: 0px 5px 0px 15px;
    width: 200px;
}

.file-chip:hover {
    background-color: #d1d1d1;
}

.close-button {
    color: #ea3e3e;
    margin-top: 0.5rem;
}

.progress-bar {
    margin: 0.5rem 1rem;
    color: black;
    background-color: white;
}

.progress-bar p {
    margin-bottom: 0.5rem !important;
}

.col-sm-6 {
    padding-left: 5px;
    padding-right: 5px;
}

/* mat-card-content {
    position: relative;
} */

mat-icon {
    font-size: 15px;
    cursor: pointer;
}

.flip-like-icon-color {
    font-size: 23px !important;
    color: white;
    background-color: black;
    padding: 0.15px 0px 0px 0px;
    border-radius: 50%;
    color: white;
    transition: height 0.4s, width 0.4s;
    animation: 0.4s linear enlarge;
}

.flip-dislike-icon-color {
    font-size: 23px !important;
    color: white;
    background-color: black;
    padding: 0.1px 0.6px 0px 0px;
    border-radius: 50%;
    color: white;
    transition: height 0.4s, width 0.4s;
    animation: 0.4s linear enlarge;
}

@keyframes enlarge {
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(0.5);
    }
}

.button-with-mat-icon {
    padding: 3.5px 0px 0px 0px;
}

/* .copy-description {
    padding: 0px; 
    margin-top: -0.3rem; 
    margin-right: -0.7rem;
} */

.reaction mat-icon {
    font-size: 23px;
}

#upper-left-corner {
    height: 10px;
    width: 20px;
    position: absolute;
    top: -0.6rem;
    left: 0rem;
    z-index: 0;
}

#upper-left-corner-1 {
    background-color: white;
    height: 30px;
    width: 20px;
    position: absolute;
    top: -1.8755rem;
    border-radius: 0px 0px 0px 10px;
    left: 0rem;
    z-index: 1;
}

#upper-right-corner {
    height: 10px;
    width: 20px;
    position: absolute;
    top: -0.6rem;
    right: 0rem;
    z-index: 0;
}

#upper-right-corner-1 {
    background-color: white;
    height: 30px;
    width: 20px;
    position: absolute;
    top: -1.8755rem;
    border-radius: 0px 0px 10px 0px;
    right: 0rem;
    z-index: 1;
}

#footer {
    margin-top: -0.383rem;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
    border-radius: 0px 0px 10px 10px;
    padding: 0.5rem 1rem;
    position: relative;
}

#footer p {
    margin-bottom: 0px;
}

/* mat-icon {
    margin-top: -0.45rem;
} */

.separator {
    height: 10rem;
}